@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Inter", "sans-serif";
}

.hero {
  background-image: url("/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-search ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(241, 241, 241);
  font-weight: 400;
  opacity: 1; /* Firefox */
}

